 
@{
    ViewData["Title"] = "AddStudent";
}

 <div class="select" font-family: ui-rounded;">
                            <select  asp-items="@ViewBag.Specality">
                            </select>
                        </div>

