
@{
    ViewData["Title"] = "AddSubject";
}



<div class="container-fluid my-5">
    <form method="post" asp-action="AddSubject" enctype="multipart/form-data">

<ul>

                  
@foreach (var item in    ViewBag.Subjects)
{
    <li style="list-style: none;"> <input style="width: 1% !important;" name="SubjectIds" type="checkbox" class="mx-2" value="@item.Id"/>@item.Name </li>
}
</ul>
<div class="my-4">
        
</div>
<button type="submit" class="btn btn-outline-success">Add</button>
</form>
</div>


