
@{
    ViewData["Title"] = "Subject";
    Layout = "~/Areas/Teacher/Views/Shared/_TeacherLayout.cshtml";
}
@model List<SubjectTeacher>
 <section id="TitleLesson">
                <div class="container ">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-title">Subjects</div>
                        </div>
                    </div>
                </div>
            </section>
             <section  class="py-5">
                <div class="container-fluid">

       @foreach (var item in Model)

            { 
               @foreach (var iterator in item.Subject.GroupSubjects)
                     {
   
     <div class="col-lg-4 col-md-6 service-block">
                    <div class="service-block-one">
                        <div class="inner-box">
                            <div class="icon-box">
                                <i class="fas fa-book-open"></i>
                            </div>
                            <h3>
                                <a > @iterator.Subject.Name</a>
                            </h3>
                            <p>@iterator.Group.Name</p>
                            <div class="btn-box">
                                <a  asp-route-sbjId="@item.Subject.Id"  asp-route-id="@iterator.GroupId" asp-action="Details" asp-controller="TeacherSubject" class="theme-btn">View Details</a>
                            </div>
                        </div>
                    </div>
                </div>
                 
                 }
            }
   
    

</div>
            </section>


