@model AppUser
<section id="TitleLesson">
    <div class="container ">
        <div class="row">
            <div class="col-12">
                <div class="section-title">Lessons</div>
            </div>
        </div>
    </div>
</section>
<section class="py-5">
    <div class="container-fluid">
        <ol class="ol-cards">
            @foreach (var item in Model.UserGroups)
            {  @foreach (var iterator in item.Group.GroupSubjects)
                {
                    <li style="--accent-color: #EE5830" class="lesson-items">
                        <div class="icon"><i class="fas fa-book-reader"></i></div>

                        <a asp-action="Index" asp-controller="LessonsDetail" class="title">@iterator.Subject.Name</a>


                    </li>
                }
            }


        </ol>
    </div>
</section>