@model ChangePasswordVM
<div class="container ">
<div class="log-form ">
  <h2 style="color:#fff">Change Password</h2>
  <form method="post">
   
    <input type="password" asp-for="CurrentPassword" placeholder="Current Password" />
    <span  class="text-danger" asp-validation-for="CurrentPassword" ></span>
    <input type="password" title="username" asp-for="NewPassword" placeholder="New Password" />
     <span  class="text-danger" asp-validation-for="NewPassword" ></span>
    <input type="password" title="username" asp-for="ConfirmNewPassword" placeholder="Confirm Password" />
     <span  class="text-danger" asp-validation-for="ConfirmNewPassword" ></span>

    <button type="submit" class="btn">Submit</button>
   
  </form>
</div><!--end log form -->
</div>