
@{
    ViewData["Title"] = "Create";
}
@model FacultyCreateVM
<section class="my-5">
    <div class="col-lg-8">
    <form id="register" method="post" enctype="multipart/form-data">
        <div  class="icon icon-lg icon-shape bg-gradient-info shadow-info text-center border-radius-xl mt-n4 position-relative my-3">
                    <i class="material-icons opacity-10">account_balance</i>
                    </div>
        <h2 id="register__title" class="text-center">Add new faculty</h2>
        <div class="register__box">
            <label for="user"> Name<i class="fas fa-asterisk"></i></label>
            <input id="user" autocomplete="off" asp-for="Name"  maxLength="64" required placeholder="Faculty Name">
             <span class="text-danger" asp-validation-for="Name"></span>
        </div>
       
     

        <button id="register__btn">Submit</button>
    </form>
    <div id="overlay" class="hidden">
        <div id="avatar"></div>
    </div>
    </div>
</section>

