
@{
    ViewData["Title"] = "Index";
}

@model Paginate<FacultyListVM>
@{
    ViewData["Title"] = "Index";
    int count = ViewBag.TakeCount;
    int page = Model.PageCount;
    int productNum = ((Model.CurrentPage - 1) * count) + 1;
    int previous = Model.CurrentPage - 1;
    int next = Model.CurrentPage + 1;
}

  <div class="container-fluid py-4">
    <div class="row">
       
       @foreach (var item in Model.Item)
      {
          
      
           <div class="col-md-4 col-6">
                  <div class="card"  > 
                    <a class="card-header mx-4 p-2 text-center" asp-action="GroupsTable" asp-controller="Group"  asp-route-id="@item.Id">
                      <div class="icon icon-shape icon-lg bg-gradient-primary shadow text-center border-radius-lg my-3">
                          <i class="material-icons opacity-10">account_balance</i>
                      </div>
                       <h3 class="text-center mb-0"> @item.Name</h3>
                        <h6 class="mb-0py-2">Group Count:@item.GroupCount </h6>
                    
                    </a>
                    <div style="padding:0.6rem" class="card-body pt-0  text-center">
                     
                      <span class="text-xl"></span>
                      <hr class="horizontal dark my-2">
                       <a style="font-size: 1.1rem !important;" class="text-secondary font-weight-bold text-xs" asp-action="Delete" asp-controller="Group" asp-route-id="@item.Id" data-toggle="tooltip" data-original-title="Edit user">
                        <span class="badge badge-sm bg-gradient-warning"> <i class="fas fa-trash"></i></span> 
                        </a>
                          <a style="font-size: 1.1rem !important;" class="text-secondary font-weight-bold text-xs" asp-action="Delete" asp-controller="Faculty" asp-route-id="@item.Id" data-toggle="tooltip" data-original-title="Edit user">
                        <span class="badge badge-sm bg-gradient-danger"> <i class="fas fa-trash"></i></span> 
                        </a>
                    </div>
                  </div>
                  <div>  </div>
                </div>
       }
         
    </div>
</div>