
@{
    ViewData["Title"] = "AddStudentToGroup";
}
@model StudentShowVM

<ul>
<select  asp-items="@ViewBag.StudentList">
                            </select>
@foreach (var item in Model.AppUsers)
{
    <li>@item.FullName</li>
}
</ul>

