   <aside id="Aside">
            <a  class="logo-container">
                <img src="~/assets/img/logo.png" alt=""></a>
           
            <p class="sidebar-heading">Teacher</p>
            <a id="CloseBtn" class="close-aside" ><i class="fas fa-times"></i></a>
            <nav>
                <ul class="sidebar-menu">
                    <li class="sidebar-menu-item ">
                        <a href="" class="aside-link active">
                            <i class="fa fa-home aside-icon " aria-hidden="true"></i>
                           
                            <span class="aside-title">Home</span></a>
                    </li>
                    <li class="sidebar-menu-item">
                        <a href="/pages/teacher/personalInfo.html" class="aside-link">
                            <i class="fa fa-user aside-icon" aria-hidden="true"></i>
                            <span class="aside-title">Personel Information</span></a>
                    </li>
                    <li class="sidebar-menu-item">
                        <a asp-action="Index" asp-controller="TeacherSubject" class="aside-link">
                            <i class="fas fa-book-open aside-icon" aria-hidden="true"></i>
                            <span class="aside-title">Subject</span></a>
                
                        </li>

                    <li class="sidebar-menu-item">
                        <a href="/pages/transcript.html" class="aside-link">
                            
                            <i class="fas fa-list-alt aside-icon" aria-hidden="true"></i>
                            <span class="aside-title">Transcript</span></a>
                
                        </li>
                    </li>
                    <li class="sidebar-menu-item"></li>
                    <li class="sidebar-menu-item"></li>
                    <li class="sidebar-menu-item"></li>
                </ul>
            </nav>
        </aside>